<a href="https://colab.research.google.com/github/Utpal-Mishra/Optimal-Control-Therapy-4-Cancer-Treatment/blob/main/OptimalControlTherapy4CancerTreatment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **IMPORT**

### GOOGLE DRIVE

In [ ]:
from google.colab import drive # import google drive into colaboratory
drive.mount("/content/drive")  # mount drive and the files

print("\nGOOGLE DRIVE is MOUNTED!!!")

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

GOOGLE DRIVE is MOUNTED!!!

### LIBRARIES

In [ ]:
import pandas as pd              # import pandas to use high-performance data structure and for data analysis
import numpy as np               # import numpy to evaluate data using mathematical operations
import matplotlib.pyplot as plt  # import matplotlib for 2D graphs and plots 
import seaborn as sns            # import seaborn for visualization 
import plotly.express as px      # import plotly for interactive plots
import plotly.graph_objects as go

import sys                       # import sys to manipulate Python runtime environment
sys.setrecursionlimit(100000)    # setting recursion limit for execusion

from sklearn import preprocessing                  # import preprocessing from sklearn statistical computations
from sklearn.preprocessing import StandardScaler   # import standardscaler for scaling the feature variables
scale = StandardScaler()                           # creating scaling object

print("LIBRARIES are IMPORTED!!!")

LIBRARIES are IMPORTED!!!

### DATA

In [ ]:
path = "/content/drive/MyDrive/UCD Research/Data.xlsx"   # set the path of the .csv file from drive

data = pd.read_excel(path)                                                                 # using read_csv() of pandas library to read the data file 
print("DATA is IMPORTED!!!")

print("\nDimensions of Data: ", data.shape)                                                # printing the dimensions of the dataset

DATA is IMPORTED!!!

Dimensions of Data:  (29, 48)

In [ ]:
#data.head() # or data.head(n), n=5 by default
# taking a look at the first 5 rows of the data using .head() 
data.sort_values("Patient No.")
data

       Patient No.  ...                                        Unnamed: 47
0   0006 00007 RJW  ...                                                NaN
1   0004 00003-CAR  ...                                                NaN
2    0003 00002 CL  ...                                                NaN
3   0011 00003  LM  ...                                                NaN
4   0001 00004 AJR  ...                                                NaN
5   0011 00001 CMC  ...                                                NaN
6    0010 00001 HJ  ...                                                NaN
7   0007 00002 DPS  ...  (patient had ceased imatinib for 6 weeks, whic...
8   0002 00003 SMV  ...                                                NaN
9   0011 00005 SCW  ...                                                NaN
10  0001 00006 GMC  ...                                                NaN
11  0002 00008 SAT  ...                                                NaN
12  0004 00004 GDH  ...                                                NaN
13  0011 00007 AJS  ...                      mutation detected at month 21
14   0001 00003 AB  ...                                                NaN
15   0004 00006 GM  ...                                                NaN
16  0007 00001 AJV  ...                                                NaN
17  0003 00004 GSW  ...                                                NaN
18  0001 00009 MJG  ...                                                NaN
19  0008 00005 BAT  ...                                                NaN
20  0008 00002 PWR  ...                                                NaN
21   0006 00006 ML  ...                                                NaN
22  0008 00003 LJG  ...                                                NaN
23   0009 00003 LH  ...                                                NaN
24   0003 00003 WM  ...                       mutation detected at month 9
25   0010 00002 GR  ...                                                NaN
26  0002 00007 PMG  ...                                                NaN
27   0001 00002 RH  ...                                                NaN
28   0009 00001 DC  ...                                                NaN

[29 rows x 48 columns]